body {
  background-color: #000;
}

* {
  font-family: "TikTok Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 50px 0;
}

.heading {
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 40px;
  border: 2px solid #0000;
  border-radius: 6px;
  background-color: #fff;
}

#skills {
  margin: 30px 0;
}

#skills h2 {
  margin-bottom: 20px;
}

#skills-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.skill-item {
  border: 2px solid #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
}

.skill-item:hover {
  background-color: #f2f2f2;
  transition: all .7s;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.skill-item.done {
  background-color: #50C878;
  color: #fff;
  border: none;
}

#add-skill-form h2 {
  margin-bottom: 20px;
}

#add-skill-form input {
  border: 2px solid #f2f2f2;
  width: 30%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  color: #000
}

#add-skill-form input:focus-visible,
#add-skill-form textarea:focus-visible {
  outline: 2px solid #50C878;
}

#add-skill-form textarea {
  border: 2px solid #f2f2f2;
  width: 30%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
  color: #000;
}

#add-skill-form button {
  padding: 10px 35px;
  background: #13A76B;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  color: #fff;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000042
}

.modal {
  display: none;
  position: absolute;
  background: #fff;
  padding: 20px 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
  max-width: 500px;
  width: 500px;
  border-radius: 10px;
}

#close-modal:hover {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: all .7s;
}

.modal.open {
  display: block;
}

.modal.open+.modal-overlay {
  display: block;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: #50C878;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}


.close:hover {
  opacity: .8;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #000;
}

.modal-content {
  font-size: 15px;
  margin-bottom: 10px;
}

.hr {
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
  border-radius: 50px;
  margin-bottom: 10px;
}

.done {
  display: flex;
  align-items: center;
  gap: 5px;
}

.progress-bar {
  position: relative;
  overflow: hidden;
}

.modal-text {
  margin-bottom: 20px;
  color: #000;
}

.done label {
  color: #000;
}

.progress-value {
  position: absolute;
  background-color: #50C878;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
}


.modal-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete {
  text-decoration: none;
  font-weight: 600;
  color: #C86665;
}

.tracker-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 50px;
  border-bottom: 2px solid #f2f2f2;
  align-items: center;
}

.logo {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 600;
  color: #C86665;
}

.checkbox-wrapper-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #C86665;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}